/* Pavel Krivopustov, 10/18/2017, IMD 233 */

table {
  /* width: 50%;
    height: 100%;*/
}

tr>td {
  padding-right: 1.3em;
}

#stars {
  color: white;
}

#starcell {
  padding: 30px;
  width: 40%;
  background-color: blue;
}

td.red_stripe {
  height: 40px;
  background-color: red;
}

td.white_stripe {
  height: 40px;
  background-color: white;
}

table tr:nth-child(14) {
  display: none;
}
table tr:nth-child(15) {
  display: none;
}
table tr:nth-child(16) {
  display: none;
}
table tr:nth-child(17) {
  display: none;
}
