/* <!-- Pavel Krivopustov, 11/06/2017, IMD 233 --> */

body {
  padding: 70px;
  font-family: Ubuntu, adobe-garamond-pro;

}

.navbar {
  padding:7px;
}

footer {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  color: white;
}

.jumbotron {
  display:inline-block;
}

.panel.panel-default > .panel-heading {
background: gold; color: #000; }