/*<!-- Pavel Krivopustov, 11/22/2017, IMD 233 -->*/

body, html {
      height: 100%;
      margin: 0;
     
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0000;
}

.active {
    background-color: goldenrod;
}

.page {
      background-image: url("http://thelens.news/wp-content/uploads/2017/07/Seattle_downtown_from_smith_tower.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

.well {
    opacity:0.8;
}



#heading{
   background: rgba(255, 56, 255, 1);
}

.well tr:nth-of-type(odd){
    background: rgba(0, 0, 255, 1);
    opacity:0.9;
  color: white;
}

.well tr:nth-of-type(even) {
   background: rgba(166, 200, 255, 1);
   color: black;
}

 .btn.btn-success {
  color: white;
  text-align: center;
}

el {
  color: white;
}



.interactive {
  margin: 0 auto;
  text-align: center;
  width: 200px;
}