/* <!-- Pavel Krivopustov, 11/15/2017, IMD 233 --> */

body {

  padding: 70px;
  font-family: Ubuntu, adobe-garamond-pro;
 
}

p {
   color: #fff;
}

footer {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, DodgerBlue,Violet, DodgerBlue);
}

.jumbotron {
  display:inline-block;
}

table {
  margin: 0 auto;
}

.col-mid {

  padding: 15px;
}

.container > .jumbotron {
background: DodgerBlue; color: #000; }

tr:nth-of-type(odd) {
 background: Violet;
}
 
th {
 background: white;
 font-weight: bold;
}