/* <!-- Pavel Krivopustov, 11/20/2017, IMD 233 --> */

body {
  padding: 70px;
  font-family: Ubuntu, adobe-garamond-pro;
}

.jumbotron > h2 {
  color: #fff;
  font-size: 400%;
}

.jumbotron > p {
  color: yellow;
}

footer {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, royalblue, turquoise, royalblue);
}

.jumbotron {
  display: inline-block;
}

table {
  margin: 0 auto;
}

.col-mid {
  padding: 15px;
}

.container > .jumbotron {
  background: royalblue;
  color: #000;
}

tr:nth-of-type(odd) {
  background: turquoise;
}

th {
  background: white;
  font-weight: bold;
}
