<form id="form">
    <input type="text"/>
    <button type="submit" form="form">Generate Report</button>
	<script src="test.js"></script>
	<!-- https://uw.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=1c8cfd1f-bace-4be9-a595-a8650006b2a3 -->
</form>