/* <!-- Pavel Krivopustov, 11/13/2017, IMD 233 --> */

body {

  padding: 70px;
  font-family: Ubuntu, adobe-garamond-pro;
}

footer {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(247, 215, 69, 1),rgba(255, 98, 8, 1), rgba(247, 215, 69, 1));
}

.jumbotron {
  display:inline-block;
}

table {
  margin: 0 auto;
}

td {
  border: 1px dashed lightgray;
}

.col-mid {
  text-align:center;
  padding: 15px;
}

