/* <!-- Pavel Krivopustov, 10/04/2017, IMD 233 --> */
/* <!-- Pavel Krivopustov, 10/04/2017, IMD 233 --> */

body {

  padding: 70px;
  font-family: Ubuntu, adobe-garamond-pro;
}

footer {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

.jumbotron {
  display:inline-block;
}

img {
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
}

table {
  border: 1px solid black;
  margin: 0 auto;
  
}

td {
  border: 1px dashed lightgray;
}
.col-left {
  border: 1px solid lightgray;
}

.col-mid {
  
  text-align:center;
  
  border: 1px solid lightgray;
  padding: 15px;
}

.col-right {
  border: 1px solid lightgray;
}